**/*.npy
**/*.xlsx
.venv/*
**/*.pyc
**/*.pt
**/.DS_Store
**/*.ipynb_checkpoints
**/*.zip
wandb/*
wandb-debug.log
run*
**/*.log
*.log
dist/*

lightning_logs/*
tests/interactive_test/lightning_logs/*

**/*.ckpt
